<footer> 
    <img class="footer-afbeelding" src="images/account.png" alt="account" />
    <a href="chatpagina"> <img class="footer-afbeelding" src="images/chat.png" alt="chat" /></a>
    <a href="weather"> <img class="footer-afbeelding" src="images/weather.png" alt="weather" /> </a> 
</footer>