<header>
  <a href="index"> <img src="images/Logo.png" alt="logo-honden" /> </a>
    <!-- https://www.freepik.com/free-vector/dogs-cartoons_5046800.htm#page=9&query=dogs&position=18&from_view=search !-->
  </header>