<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matchpagina</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="match">
    <%- include('partials/header.ejs') %>

    <h1>jij en sammie zijn een match! ✨</h1>

    <figure>
      <img
        class="honden-afbeelding"
        src="images/Labradoodle.jpeg"
        alt="labra-doodle-hond"
      />
      <!--- https://www.nieuwehond.nl/labradoodle/ -->
      <img
        class="honden-afbeelding"
        src="images/corgi.jpeg"
        alt="corgi-hond"
      />
    </figure>
    <a href="chatpagina">
    <button type="button">Verstuur een chat naar Sammie</button>
    </a>

    <a href="weather">
    <button type="button">Bekijk het weer voor de ideale playdate</button>
    </a>

    <%- include('partials/footer.ejs') %>

    <script src="script/script.js"></script>
  </body>
</html>
