<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link rel="stylesheet" href="public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
  </head>
  
  <body class="weather">
    
    <%- include('partials/header.ejs') %>

    <h1> jij en sammie zijn een match! ✨ </h1>

    <figure> 
      <img class="honden-afbeelding" src="public/images/Labradoodle.jpeg" alt="labra-doodle-hond" />
      <img class="honden-afbeelding" src="public/images/corgi.jpeg" alt="corgi-hond"/>
    </figure>

    <!--- https://www.nieuwehond.nl/labradoodle/ -->
    
    <button type="button"> Verstuur een chat naar Sammie </button>
    <button type="button"> Verder kijken </button>

    <%- include('partials/footer.ejs') %>

    <script src="scripts/script.js"></script>
  </body>

</html>
