<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="weather">
    <%- include('partials/header.ejs') %>
    <img class="sun"
        src="images/sun.png"
        alt="zon"
      />
    <h1>zonnig weer!</h1>
    <p> Het is momenteel zonnig en warm:</p>
    <h2> 22ยบ</h2>
    <p> Ga er dus vooral lekker met je playdate op uit!</p>

    <a href="chatpagina">
      <button type="button">Plan een playdate via de chat</button>
    </a>

    <%- include('partials/footer.ejs') %>

    <script src="script/script.js"></script>
  </body>
</html>
